p {
    font-size: 15pt;
}

.esquema {
    font-size: 12pt;
    font-weight: 600;
    color: red;
    text-align: justify;
}

.redacao {
    text-align: justify;
}

.margem {
    margin-left: 15px;
}

@media(min-width: 768px) {}