main {
    background-image: linear-gradient(55deg, #f78d85, #460199);
}

.landing-page {
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    padding: 0px 0px 0px 0px !important;
}

.landing-main {
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
}

.link-quebrado-mobile {
    color: #e90202;
}

.link-quebrado-web {
    display: none;
}

.titulo {
    padding: 15px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.7rem;
    font-weight: lighter;
    color: #000;
}

section.main {
    padding: 15px;
}

.frase {
    padding-top: 15px;
    text-align: center;
    font-size: 1.3rem;
    color: blue;
}

.autor {
    font-weight: bold;
    color: #0303dd;
    text-align: right;
}

.sobre {
    font-size: 1.4rem;
    line-height: 40px;
}

.landing img {
    width: 74%;
}

.compartilhar {
    padding: 10px;
    color: grey;
}

@media(min-width: 768px) {
    .link-quebrado-mobile {
        display: none;
    }
    .link-quebrado-web {
        color: #e90202;
        display: flex;
    }
    .frase {
        padding-top: 0px;
        font-size: 1.4rem;
    }
    .autor {
        font-weight: bold;
        color: #0303dd;
        text-align: right;
    }
    .sobre {
        font-size: 1.4rem;
        line-height: 50px;
    }
    .titulo {
        line-height: 100px;
        font-size: 4.3rem;
        max-width: 500px;
    }
    .landing img {
        width: 35rem;
    }
    .landing-page {
        background-image: red;
    }
    .landing-main {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .compartilhar {
        text-align: center;
    }
}