body {
    background-color: #e7e7e7;
}

.login-place {
    min-height: 80vh;
    border-radius: 15px;
    background-color: #fff;
    margin-top: -15px;
    padding: 15px;
}

@media(min-width:992px) {
    .links-login p {
        margin-left: 15px;
    }
    .links-login {
        font-size: 12pt;
        display: flex;
    }
}