article header h5 {
    color: grey;
}

article header span {
    color: blue;
}

.article-main ul li {
    text-transform: initial;
    color: grey;
    font-size: 15pt;
}

.article-main {
    margin-top: 20px;
}

ul li:first-letter {
    text-transform: capitalize;
}

@media(max-width: 768px) {
    p.conteudo {
        max-width: 200px;
    }
}